body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
}

.ludo {
    height: 450px;
    width: 100%;
    background-image: url('./ludo-bg.jpg');
    background-size: contain;
    position: relative;
}
